@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Quicksand:wght@300;400;700&display=swap");

:root {
  --brand-color: rgba(255, 217, 47, 1);

  --primary-color: rgba(224, 34, 0, 1);
  --primary-color-hover: rgb(255, 82, 51);

  --secondary-color: rgba(216, 130, 0, 1);
  --secondary-color-hover: rgb(255, 177, 59);

  --info-color: rgba(43, 15, 6, 1);
  --info-color-hover: rgb(134, 46, 19);
}

body {
  font-family: "Oxygen", sans-serif;
  background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.25) 25%,
      rgba(255, 177, 59, 0.25) 100%
    ),
    url("../images/greek-vase.png");
  background-size: contain;
  background-attachment: fixed;
}

h1 {
  font-weight: 700;
}

/* Bootstrap color override */

.alert {
  height: 50px;
}

.alert:hover {
  border: 1px solid var(--primary-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 1) inset;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  border: 1px solid var(--primary-color);
  -webkit-box-shadow: 0 0 0 30px rgb(255, 237, 234) inset !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--primary-color);
  outline: 0 none;
}

.btn.btn-primary {
  background: var(--primary-color);
  border: none;
  outline: 0 none;
}

.btn.btn-primary:active,
.btn.btn-primary:hover {
  background-color: var(--primary-color-hover);
  outline: 0 none;
}

.btn.btn-primary:focus {
  background-color: var(--primary-color-hover);
  border-color: var(--primary-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--primary-color);
  outline: 0 none;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background: var(--primary-color) !important;
}

.btn.btn-secondary {
  background: var(--secondary-color);
  border: none;
  outline: 0 none;
}

.btn.btn-secondary:active,
.btn.btn-secondary:hover {
  background-color: var(--secondary-color-hover);
  outline: 0 none;
}

.btn.btn-secondary:focus {
  background-color: var(--secondary-color-hover);
  border-color: var(--secondary-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px var(--secondary-color);
  outline: 0 none;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  background: var(--secondary-color) !important;
}

.btn.btn-info {
  background: var(--info-color);
  border: none;
  outline: 0 none;
}

.btn.btn-info:active,
.btn.btn-info:hover {
  background-color: var(--info-color-hover);
  outline: 0 none;
}

.btn.btn-info:focus {
  background-color: var(--info-color-hover);
  border-color: var(--info-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--info-color);
  outline: 0 none;
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show > .btn-info.dropdown-toggle {
  background: var(--info-color) !important;
}

/* NAV ----------------------------------------------------------------------------------------------------------- */

.brand {
  color: var(--brand-color);
}

.side-bar {
  background: rgb(37, 26, 22);
  background: linear-gradient(0deg, rgb(12, 10, 9) 0%, rgb(43, 15, 6) 100%);
  min-width: 200px;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .side-bar {
    background: rgb(37, 26, 22);
    background: linear-gradient(0deg, rgb(12, 10, 9) 0%, rgb(43, 15, 6) 100%);
    min-width: 200px;
    height: 300px;
  }
}

.nav-link {
  color: rgba(255, 255, 255, 0.8) !important;
}

.nav-link,
.btn,
.alert {
  transition: all 0.25s ease-out;
}

.nav-link:hover {
  color: #ffd92f !important;
}

.slide-out {
  border-left: 5px solid rgb(43, 15, 6);
  border-top: 1px solid rgb(43, 15, 6);
  border-bottom: 1px solid rgb(43, 15, 6);
  border-radius: 5px;
  transition: all 0.25s ease-out;
}

.slide-out:hover {
  position: relative;
  transform: translate(-5px);
  background-color: rgb(78, 28, 11);
  box-shadow: -10px 0 25px rgba(224, 34, 0, 1);
  border-radius: 5px;
  border-left: 5px solid rgba(224, 34, 0, 1);
  border-top: 1px solid rgba(224, 34, 0, 1);
  border-bottom: 1px solid rgba(224, 34, 0, 1);
  transition: all 0.25s ease-out;
}

.active {
  color: var(--secondary-color) !important;
  background-color: rgb(78, 28, 11);
  background: linear-gradient(0deg, rgb(26, 9, 3) 0%, rgb(78, 28, 11) 100%);
  border-radius: 5px;
  border-left: 5px solid rgba(224, 34, 0, 1);
  box-shadow: 0 10px 20px rgb(0, 0, 0, 0.5);
}

/* ERROR HANDLER -------------------------------------------------------------------------------------------------- */

.alert {
  transition: all 0.25s ease-out;
}

/* DASHBOARD -------------------------------------------------------------------------------------------------- */

.reservation-count {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  color: rgba(224, 34, 0, 1);
  margin: auto;
}

/* Business Hours -------------------------------------------------------------------------------------------------- */

.business-hours-container {
  color: white;
  background: rgb(37, 26, 22);
  background: linear-gradient(0deg, rgb(26, 16, 12) 0%, rgb(43, 15, 6) 100%);
  border-radius: 10px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.25);
}

.text-thin {
  font-weight: 200;
}

.list-day {
  font-weight: 400;
}

.list-time {
  font-weight: 400;
}

.list-day-closed {
  font-weight: 700;
  color: var(--secondary-color);
}

/* RESERVATION CARD -------------------------------------------------------------------------------------------------- */

.reservations-list {
  transition: all 1s ease-out;
}

.card-header {
  background-color: rgba(216, 130, 0, 0.1);
  color: rgb(43, 15, 6);
  border-radius: 10px 10px 0 0 !important;
  padding: 4px;
  text-align: center;
}

.reservation-card {
  min-width: 300px;
  max-width: 400px;
  background: rgb(37, 30, 22);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 223, 176, 0.25) 100%
  );
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease-out;
}

.reservation-card:hover {
  position: relative;
  transform: translate(0, -2px);

  background: rgb(37, 26, 22);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 223, 176, 0.25) 100%
  );
  border-radius: 10px;
  border: 1px solid rgba(224, 34, 0, 1);
  transition: all 0.25s ease-out;
}

.res-status {
  font-weight: 700;
}

.seat-link,
.edit-link,
.cancel-link {
  text-align: center;
  width: 100%;
  padding: 2px;
  font-size: 1rem;
}

/* TABLES CARD -------------------------------------------------------------------------------------------------- */

.table-list-bg {
  background: rgb(37, 26, 22);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(255, 239, 233) 100%
  );
}

.tables-container {
  min-width: 300px;
  max-width: 520px;
}

.tables-header {
  background-color: var(--info-color);
  color: var(--secondary-color-hover);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 0 0;
  width: 100%;
  padding: 4px;
}

.table-item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease-out;
}

.table-item:hover,
.table-item-occupied:hover {
  position: relative;
  transform: translate(-2px, -2px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease-out;
}

.table-free {
  font-weight: 700;
  color: rgb(27, 138, 27);
}

.table-item-occupied {
  background: rgba(224, 34, 0, 0.1);
  background: linear-gradient(
    45deg,
    rgba(224, 34, 0, 0.1) 0%,
    rgba(224, 34, 0, 0) 100%
  );
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease-out;
}

.table-occupied {
  font-size: 0.8rem;
  font-weight: 700;
  font-style: italic;
  color: red;
}

.capacity-count {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  color: rgba(224, 34, 0, 1);
  margin: auto;
}

.option-capacity {
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  color: rgba(224, 34, 0, 1);
  margin: auto;
}

.my-selector option {
  background-color: blue;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #f3969a;
}

.search-input {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
}

.find-button {
  min-width: 60px;
  max-width: 60px;
}
