@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Quicksand:wght@300;400;700&display=swap");

body {
  font-family: "Oxygen", sans-serif;
}

h1 {
  font-weight: 700;
}

.side-bar {
  background: rgb(37, 26, 22);
  background: linear-gradient(0deg, rgb(12, 10, 9) 0%, rgb(43, 15, 6) 100%);
  min-width: 200px;
  height: 100vh;
}

.nav-link {
  color: rgba(255, 255, 255, 0.8) !important;
}

.nav-link,
.btn {
  transition: all 0.25s ease-out;
}

.nav-link:hover {
  color: #ffd92f !important;
}

.slide-out {
  border-left: 4px solid rgb(43, 15, 6);
  border-top: 1px solid rgb(43, 15, 6);
  border-bottom: 1px solid rgb(43, 15, 6);
  transition: all 0.25s ease-out;
}

.slide-out:hover {
  box-shadow: -10px 0 25px rgba(224, 34, 0, 1);
  border-radius: 5px 0 0 5px;
  border-left: 4px solid rgba(224, 34, 0, 1);
  border-top: 1px solid rgba(224, 34, 0, 1);
  border-bottom: 1px solid rgba(224, 34, 0, 1);
  transition: all 0.25s ease-out;
}

.alert {
  transition: all 0.25s ease-out;
}

.active {
  color: rgb(255, 166, 83) !important;
}
