@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Quicksand:wght@300;400;700&display=swap");

body {
  font-family: "Oxygen", sans-serif;
}

h1 {
  font-weight: 700;
}

/* NAV ----------------------------------------------------------------------------------------------------------- */

.brand {
  color: #ffd92f;
}

.side-bar {
  background: rgb(37, 26, 22);
  background: linear-gradient(0deg, rgb(12, 10, 9) 0%, rgb(43, 15, 6) 100%);
  min-width: 200px;
  height: 100vh;
}

.nav-link {
  color: rgba(255, 255, 255, 0.8) !important;
}

.nav-link,
.btn {
  transition: all 0.25s ease-out;
}

.nav-link:hover {
  color: #ffd92f !important;
}

.slide-out {
  border-left: 5px solid rgb(43, 15, 6);
  border-top: 1px solid rgb(43, 15, 6);
  border-bottom: 1px solid rgb(43, 15, 6);
  border-radius: 5px;
  transition: all 0.25s ease-out;
}

.slide-out:hover {
  position: relative;
  transform: translate(-5px);
  background-color: rgb(78, 28, 11);
  box-shadow: -10px 0 25px rgba(224, 34, 0, 1);
  border-radius: 5px;
  border-left: 5px solid rgba(224, 34, 0, 1);
  border-top: 1px solid rgba(224, 34, 0, 1);
  border-bottom: 1px solid rgba(224, 34, 0, 1);
  transition: all 0.25s ease-out;
}

.active {
  color: rgb(255, 166, 83) !important;
  background-color: rgb(78, 28, 11);
  background: linear-gradient(0deg, rgb(26, 9, 3) 0%, rgb(78, 28, 11) 100%);
  border-radius: 5px;
  border-left: 5px solid rgba(224, 34, 0, 1);
  box-shadow: 0 10px 20px rgb(0, 0, 0, 0.5);
}

/* ERROR HANDLER -------------------------------------------------------------------------------------------------- */

.alert {
  transition: all 0.25s ease-out;
}

/* Business Hours */

.business-hours-container {
  color: white;
  background: rgb(37, 26, 22);
  background: linear-gradient(0deg, rgb(26, 16, 12) 0%, rgb(43, 15, 6) 100%);
  border-radius: 10px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.25);
}

.text-thin {
  font-weight: 200;
}

.list-day {
  font-weight: 400;
}

.list-time {
  font-weight: 400;
}

.list-day-closed {
  font-weight: 700;
  color: rgb(255, 166, 83);
}
